html, body {
    background: #EEEEEE;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.mobile-page {
    display: none;
}

#map-page {
    display: block;
}

#map_canvas {
    position: relative;
    width: 100%;
}

#place-form, #address-form {
    position: relative;
    z-index: 10;
    width: 100%;
}

#place-form form, #address-form form {
    position: relative;
    width: 100%;
	text-align: center;
    padding-bottom: 15px;
}

#dim {
    display: none;
    background: black;
    opacity: .5;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.label {
    font-size: larger;
    padding-top: 10px;
}

.header {
    position: relative;
}

.ui-header .ui-title {
    padding-top: 10px;
    margin: .6em 110px .8em;
}

.footer {
    position: relative;
	min-width: 310px;
}

.content {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EEE), color-stop(1, #DDD));
}

.button, .big-button {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
    padding: .6em 25px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    display: block;
    position: relative;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.button {
    font-size: 16px;
    color: white;
    border: 1px solid #222;
    text-shadow: 0 -1px 1px black;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555), color-stop(1, #333));
}

.button:active {
    border: 1px solid black;
    background: #3D3D3D;
    background-image: -moz-linear-gradient(top, #333, #5A5A5A);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(1, #5A5A5A));
}

.big-button {
    text-align: center;
    margin: 10px auto;
    width: 95%;
    height: 100%;
    border: 1px solid #CCC;
    background: #EEE;
    color: #444;
    font-size: larger;
    text-shadow: 0 1px 1px #F6F6F6;
    background-image: -moz-linear-gradient(top, #FEFEFE, #EEE);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDFDFD), color-stop(1, #EEE));
}

.big-button:active {
    border: 1px solid gray;
    background: #FDFDFD;
    color: #111;
    text-shadow: 0 1px 1px white;
    background-image: -moz-linear-gradient(top, #EEE, #FDFDFD);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EEE), color-stop(1, #FDFDFD));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#EEE', EndColorStr='#FDFDFD')";
}

.page-h1 {
    color: #333;
    text-align: center;
}

li {
    list-style: none;
    text-decoration: none;
    border: 1px solid #F7C942;
    background: #FADB4E;
    padding: .7em 75px .7em 15px;
    font-size: larger;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 white;
    background-image: -moz-linear-gradient(top, #FCEDA7, #FADB4E);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FCEDA7), color-stop(1, #FADB4E));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FCEDA7', EndColorStr='#FADB4E')";
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

li:active {
    background: #FCEDA7;
    color: #111;
    text-shadow: 0 1px 1px white;
    background-image: -moz-linear-gradient(top, #FADB4E, #FCEDA7);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FADB4E), color-stop(1, #FCEDA7));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FADB4E', EndColorStr='#FCEDA7')";
}

textarea {
	height: 60px;
}

textarea, input[type="text"] {
    padding: .4em;
    line-height: 1.4;
    font-size: 16px;
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2);
    -moz-border-radius: .6em;
    -webkit-border-radius: .6em;
    border-radius: .6em;
    width: 95%;
    border: 1px solid #B3B3B3;
    color: #333;
    text-shadow: 0 1px 0 white;
    background: #F0F0F0;
    background-image: -moz-linear-gradient(top, #EEE, #DDD);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EEE), color-stop(1, #DDD));
}

.submit-button {
	background: #a8d2ff;
	border: 1px solid #499efe;
	background-image: -moz-linear-gradient(top, #b6e4ff, #70bdff);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b6e4ff), color-stop(1, #70bdff));
}

.submit-button:active {
	border: 1px solid #3776BE;
 	background-image: -moz-linear-gradient(top, #70bdff, #b6e4ff,);
 	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #70bdff), color-stop(1, #b6e4ff));
}

select {
    margin: 10px auto;
    width: 95%;
    font-size: larger;
    display: block;
    height: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    border: 1px solid #CCC;
    background: #EEE;
    font-weight: bold;
    color: #444;
    text-shadow: 0 1px 1px #F6F6F6;
}

#footer > div {
	float: left;
	border-right: 1px solid #222;
	border-left: 1px solid #444;
}

#menu > div, #footer > div {
	padding: 10px;
	font-size: smaller;
	font-weight: bold;
}

#footer > div:active {
	color: #9cf;
}

.menu-button {
	text-shadow: none;
	color: #2A2A2A;
	background: white;
}

#menu {
	border: 1px solid #2A2A2A;
	position: absolute;
	background: white;
	border-bottom: none;
	z-index: 5;
}

.open-menu {
	display: none;
}